<div class="alert alert-primary">
    <div class="panel-heading">
        <h2> {{ pageTitle }} </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-2">

                <a (click)="submitForm()" class="btn btn-primary">
                    Add Product
                </a>
            </div>

        </div>
        <div class="table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)="toggleImage()">
                                <span *ngIf="!showImage">Show Image</span>
                                <span *ngIf="showImage">Hide Image</span>
                            </button>
                        </th>
                        <th>
                            <b>Product</b>
                        </th>
                        <th>
                            <b>Code</b>
                        </th>
                        <th>
                            <b>Available</b>
                        </th>
                        <th>
                            <b>Price</b>
                        </th>
                        <th>
                            <b>5 Star Rating</b>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | productFilter:listFilter">
                        <td>
                            <img *ngIf='showImage' src="../assets/images/{{product.imageUrl}}" [title]='product.productName' width="50px" height="50px">
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.productAvailable }}</td>
                        <td>{{ product.price | currency:'INR':true:'1.2-4'}}</td>
                        <td>{{product.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>